extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | 
          small &nbsp;

  .row
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header Header
            .card-body
              h4.card-title 
                a(href='/books/Philosophers_Stone') Harry Potter and the Philosopher's Stone
              p.card-text
                | Harry Potter, a young wizard who discovers his magical heritage on his eleventh birthday, when he receives a letter of acceptance to Hogwarts School of Witchcraft and Wizardry.
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header Header
            .card-body
              h4.card-title 
                a(href='/books/Angels_and_Demons') Angels and Demons
              p.card-text
                | World-renowned Harvard symbologist Robert Langdon is summoned to a Swiss research facility to analyze a cryptic symbol seared into the chest of a murdered physicist. What he discovers is unimaginable
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header Header
            .card-body
              h4.card-title 
                a(href='/books/The_Son_Of_Neptune') The Son of Neptune
              p.card-text
                | PERCY IS CONFUSED. When he awoke from his long sleep, he didn't know much more than his name. His brain fuzz is lingering, even after the wolf Lupa told him he is a demigod and trained him to fight with the pen/sword in his pocket.
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header Header
            .card-body
              h4.card-title Primary card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.