extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | BookWorm is a website that is designed for literature enthusiasts regardless of their age.
        | <br /><br />
        | BookWorm provides users with various reading recommendations and allows them to explore and broaden their tastes
        | Users can share their personal views on their favorite literature with our enthusiastic community